/**
 * Copyright (c) 2018, Gipuzkoako Foru Aldundia
 * Eskubide guztiak erreserbatuta / All rights reserved
 */

.inicio {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.button-form {
  display: inline-block;
}
